<div class="container">
    <mat-card class="mt-20 mb-20">
    <form [formGroup]="form">

        <mat-form-field class="width-100">
          <mat-label>Pacientes</mat-label>
          <mat-select formControlName="paciente"  >

            <input placeholder="Buscar: " class="filtro" matInput #filtro autocomplete="off" [(ngModel)]="filtroPaciente" [ngModelOptions]="{standalone: true}" (ngModelChange)="applyFilterPaciente(false)" (keyup)="$event.stopPropagation; applyFilterPaciente(true)" (keydown)="$event.stopPropagation()">

            <mat-option
            *ngFor="let paciente of pacientesFilter"
            [value]="paciente.idPaciente"
            >
            {{ paciente.nombre }} {{ paciente.apellido }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-estudios-medicos></app-estudios-medicos>

      <mat-form-field appearance="outline" class="width-100 example-full-width">
        <mat-label>Nombre del Archivo</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let nombre of nombresNuevos" (removed)="remove(nombre)" class="assigned-chip">
          {{nombre}}
          <button class="no-border" matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input required="true" placeholder="Nombres de los archivos..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
    </form>
    <div class="end mt-20">

      <app-button [valido]="form.valid && GetEstudio()" [habilita]="!form.valid" [texto]="'Guardar Estudios'" (clickButton)="GuardarEstudios()" ></app-button>

      </div>
</mat-card>
</div>