.width-100{
    width: 100%;
}

.mt-20{
    margin-top: 20px;
}

.mb-20{
    margin-bottom: 20px;
}


.end{
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
  }

  .button{
    background-color:rgb(119, 114, 72);
    color: #ffffff;
}

.button-disabled{
    background-color: rgb(225,223,206);
    color: #ffffff;
}

.filtro{
    height: 36px;
    /* padding-left: 15px; */
    font-size: 14px;
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
  }

  .mat-grid-tile-content{
    display: flex;
    flex-direction: column;
  }

  table {
    width: 100%;
  }

  table .foto{
    width: 350px;
  }


td {
  text-align: center;
}

h3{
  font-size: 20px;
font-weight: 500;
}

.mt-20{
margin-top: 20px;
}

.mat-header-cell {
  text-align: center !important;
  font-size: 16px;
}
