h1,h3{
    display: contents;
}

.button{
    background-color: #60C76E;
    color: #ffffff;
}

.button-disabled{
    background-color: #cfebd2;
    color: #ffffff;
}

.w10{
    width: 10%;
    border-radius: 50%;
}

.div-img{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}