<div class="container d-flex align-items-center h-75">
    <mat-card class="d-flex justify-content-center w-100">
        <div class="row justify-content-center">
            <div class="d-flex row justify-content-center">
                <h1>Sistema de Gestión de Historias Clínicas</h1>
                <div class="div-img">

                    <img
                    class="w10"
                    src="../../assets/logo.jpeg"
                    alt="Sin Foto"
                    />
                </div>
            </div>
            <div class="d-flex row justify-content-center">
                <h3>Inicio de Sesión</h3>
            </div>
                <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="Login()">
                    <div class="row w-100">

                        <app-inputs [label]="'Email'" [placeHolder]="'Email'" [requerido]="true" [type]="'email'" [valor]="form.controls.mail.value" (cambio)="asignarValor(form.controls.mail, $event)" ></app-inputs>


                        <app-inputs [label]="'Contraseña'" [type]="'password'" [requerido]="true" [valor]="form.controls.pass.value" (cambio)="asignarValor(form.controls.pass, $event)" ></app-inputs>

                    </div>
                    <div class="row">
                        <a href="/login/recuperacion">¿Olvidaste tu contraseña?</a>
                    </div>
                    <div class="d-flex row justify-content-center">
                        <div class="w-25 d-flex justify-content-center">
                            <app-button [habilita]="!form.valid" [valido]="form.valid" [texto]="'Iniciar Sesión'" (clickButton)="Login()"></app-button>
                            
                        </div>
                    </div>
                </form>
                </mat-card-content>
        </div>
    </mat-card> 


</div>
