<div class="container d-flex w-50 mt-5">
    <div class="row align-items-start">
        <div class="mb-5 p-24 d-flex justify-content-center">
            <mat-icon class="icon-display">highlight_off</mat-icon>
        </div>

        <div class="mb-5 w-max">
            <h1>Error 404 - Página no encontrada</h1>
        </div>

        <div class="mb-5 ">
            <p> La dirección url solicitada no existe. </p>
        </div>

        <div class="mb-5 w-25">
            <app-button [texto]="'Volver'" (clickButton)="Volver()" ></app-button>
        </div>
    </div>
</div>
