<form [formGroup]="form" autocomplete="off" class="example-form">
  <div class="col pad-15">
    <div class="row w-100">
      <div class="col-6">
        <div class="w-100">
          <app-inputs
            [tabindex]="1"
            [label]="'Nombre'"
            [type]="'text'"
            [placeHolder]="'Nombre del paciente'"
            [valor]="form.controls.nombre.value"
            [requerido]="true"
            (cambio)="CargarDatosPersonales($event, 1, form.controls.nombre)"
            [max]="maximo"
          ></app-inputs>
        </div>

        <div class="edad w-100">
          <mat-form-field appearance="outline" class="w-55">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input
              tabindex="3"
              matInput
              required="true"
              readonly="true"
              autocomplete="off"
              #dateInput
              (dateChange)="changeDate(dateInput)"
              onclick="changeDate(dateInput)"
              [max]="fecha"
              [matDatepicker]="selector"
              [value]="form.controls.fechaNacimiento.value"
            />
            <mat-datepicker-toggle
              mat-datepicket-toggle
              matSuffix
              [for]="selector"
            ></mat-datepicker-toggle>
            <mat-datepicker #selector></mat-datepicker>
            <mat-error
              *ngIf="form.controls.fechaNacimiento.hasError('required')"
            >
              Fecha de Nacimiento es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>

          <app-inputs
            class="w-45"
            [label]="'Edad'"
            [type]="'text'"
            [placeHolder]="'Edad'"
            [valor]="edad"
            [requerido]="false"
            [readOnly]="true"
            [max]="maximo"
          ></app-inputs>
        </div>
        <div class="w-100">
          <app-inputs
            [tabindex]="5"
            [label]="'Otros'"
            [type]="'text'"
            [placeHolder]="'Otros comentarios'"
            [valor]="form.controls.otros.value"
            [requerido]="false"
            (cambio)="CargarDatosPersonales($event, 9, form.controls.otros)"
            [max]="maximo"
          ></app-inputs>
        </div>
        <div class="w-100">
          <app-inputs
            [tabindex]="7"
            [label]="'Localidad'"
            [type]="'text'"
            [placeHolder]="'Localidad del paciente'"
            [valor]="form.controls.localidad.value"
            [requerido]="false"
            (cambio)="CargarDatosPersonales($event, 8, form.controls.localidad)"
            [max]="maximo"
          ></app-inputs>
        </div>
        <div class="w-100">
          <app-inputs
            [tabindex]="9"
            [label]="'Email'"
            [type]="'email'"
            [placeHolder]="'E-mail del paciente'"
            [valor]="form.controls.mail.value"
            [requerido]="false"
            (cambio)="CargarDatosPersonales($event, 5, form.controls.mail)"
            [max]="maximo"
          ></app-inputs>
        </div>
      </div>
      <div class="col-6">
        <div class="w-100">
          <app-inputs
            [tabindex]="2"
            [label]="'Apellido'"
            [type]="'text'"
            [placeHolder]="'Apellido del paciente'"
            [valor]="form.controls.apellido.value"
            [requerido]="true"
            (cambio)="CargarDatosPersonales($event, 2, form.controls.apellido)"
            [max]="maximo"
          ></app-inputs>
        </div>
        <div class="w-100 mb-2px">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>¿Cómo nació?</mat-label>
            <mat-select
              [tabIndex]="4"
              formControlName="nacimiento"
              required
              (selectionChange)="
                CargarDatosPersonales($event, 7, form.controls.nacimiento)
              "
            >
              <mat-option *ngFor="let nac of nacimientos" [value]="nac">
                {{ nac }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.nacimiento.hasError('required')">
              ¿Cómo nació? es <strong>obligatorio</strong>
            </mat-error>
            <button class="clear" *ngIf="form.controls.nacimiento.value" matSuffix mat-icon-button (click)="form.controls.nacimiento.reset(); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="w-100">
          <app-inputs
            [tabindex]="6"
            [label]="'Ocupación'"
            [type]="'text'"
            [placeHolder]="'Ocupación del paciente'"
            [valor]="form.controls.ocupacion.value"
            [requerido]="false"
            (cambio)="CargarDatosPersonales($event, 6, form.controls.ocupacion)"
            [max]="maximo"
          ></app-inputs>
        </div>
        <div class="w-100">
          <app-inputs
            [tabindex]="8"
            [label]="'De parte de'"
            [type]="'text'"
            [placeHolder]="'De parte de quién viene'"
            [valor]="form.controls.deParte.value"
            [requerido]="false"
            (cambio)="CargarDatosPersonales($event, 10, form.controls.deParte)"
            [max]="maximo"
          ></app-inputs>
        </div>
        <div class="w-100">
          <div class="row">
            <app-inputs
              [tabindex]="10"
              [label]="'Celular'"
              [type]="'text'"
              [placeHolder]="'Celular del paciente'"
              [valor]="form.controls.celular.value"
              [requerido]="false"
              (cambio)="CargarDatosPersonales($event, 4, form.controls.celular)"
              [max]="maximo"
            ></app-inputs>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
