<mat-form-field appearance="outline" class="example-full-width">
  <mat-label> {{ label }} </mat-label>
  <input
    [tabIndex]="tabindex"
    type="text"
    matInput
    [placeholder]="placeHolder"
    [required]="requerido"
    autocomplete="off"
    (change)="cambios($event)"
    (blur)="valido($event)"
    [type]="type"
    [value]="valor"
    [readonly]="readOnly"
  />
</mat-form-field>

<mat-label  [ngClass]=" validaRequerido || validaMail ? 'mat-error' : 'none' " >
 {{msj}}
</mat-label>


