mat-form-field::childs{
    padding: 0;
    margin: 0;
}

.mat-error{
    font-size: 11px;
    color: #e72828;
}

.w-100 .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
}
.color-white{
    color: #fff;
}
.none{
    color: transparent;
}