mat-form-field::childs{
    padding: 0;
    margin: 0;
}
.example-full-width {
    width: 100%;
}
mat-error{
    font-size: 11px;
}

.example-full-width .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
}
.color-white{
    color: #fff;
}