<mat-form-field *ngIf="max !== 0" appearance="outline" class="w-100">
  <mat-label> {{ label }} </mat-label>
  <input
    [tabIndex]="tabindex"
    type="text"
    matInput
    [placeholder]="placeHolder"
    [required]="requerido"
    autocomplete="off"
    (change)="cambios($event)"
    (blur)="valido($event)"
    [type]="type"
    [value]="valor"
    [readonly]="readOnly"
    [maxLength]="max"
  />
</mat-form-field>

<mat-form-field *ngIf="max === 0" appearance="outline" class="w-100">
  <mat-label> {{ label }} </mat-label>
  <input
    [tabIndex]="tabindex"
    type="text"
    matInput
    [placeholder]="placeHolder"
    [required]="requerido"
    autocomplete="off"
    (change)="cambios($event)"
    (blur)="valido($event)"
    [type]="type"
    [value]="valor"
    [readonly]="readOnly"
  />
</mat-form-field>

<mat-label  [ngClass]=" requerido && validaRequerido ? 'mat-error' : type === 'email' && validaMail ? 'mat-error' : 'none' " >
 {{msj}}
</mat-label>


