.example-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    display: flex;
    width: 50%;
  }

  h2.mail{
    display: flex;
    width: 50%;
    justify-content: end;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .example-toolbar{
    background-color: rgb(119, 114, 72);
    color: #ffffff;
    position: fixed;
    z-index: 100;
  }

  .row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

.color-white{
  color: #ffffff;
}

.active-link{
  background-color: rgb(180,174,131);
  border: solid 1px #fff;
  border-radius: 5px;
}


.router{
  z-index: 100;
    position: absolute;
    top: 10%;
    left: 11%;
    width: 88%;
}

.mt-20{
  margin-top: 15%;
}

.mat-drawer{
  top:50px
}

.barra{
  z-index: 110;
  position: fixed;  
  left: 0;
  padding: 10px;
}

.barra-bg{
  background-color: rgb(119, 114, 72);
  color: #ffffff;
}

.h6{
  height: 6%!important;
}

.w101{
  width: 101%;
}

.none{
  display: none;
}

a{
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 1377px) and (max-width: 1765px){
  .router{
    /* z-index: 100; */
      position: absolute;
      top: 10%;
      left: 12%;
      width: 87%;
  }
}

@media only screen and (min-width: 1377px) and (max-width: 1619px){
  .router{
    /* z-index: 100; */
      position: absolute;
      top: 10%;
      left: 13%;
      width: 86%;
  }
}

@media only screen and (min-width: 1377px) and (max-width: 1527px){
  .router{
    /* z-index: 100; */
      position: absolute;
      top: 10%;
      left: 14%;
      width: 85%;
  }
}

@media only screen and (min-width: 1310px) and (max-width: 1417px){
  .router{
    /* z-index: 100; */
      position: absolute;
      top: 10%;
      left: 15%;
      width: 84%;
  }
}

@media only screen and (min-width: 1225px) and (max-width: 1310px){
  .router{
    /* z-index: 100; */
      position: absolute;
      top: 10%;
      left: 16%;
      width: 83%;
  }
}

@media only screen and (min-width: 1160px) and (max-width: 1225px){
  .router{
    /* z-index: 100; */
      position: absolute;
      top: 10%;
      left: 17%;
      width: 82%;
  }
}

@media only screen and (max-width: 1160px){
  .router{
    /* z-index: 100; */
      position: absolute;
      top: 10%;
      left: 20%;
      width: 84%;
  }
}
