<div class="container d-flex align-items-center h-75">
    <mat-card class="d-flex justify-content-center w-100">
        <div class="row justify-content-center">
            <div class="d-flex row justify-content-center">
                <h1>Sistema de Gestión de Historias Clínicas</h1>
            </div>
            <div class="d-flex row justify-content-center">
                <h3>Recuperación de contraseña</h3>
            </div>
                <mat-card-content>
                <form [formGroup]="form">
                    <div class="row">

                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input
                            type="email"
                            matInput
                            formControlName="mail"
                            placeholder="Email"
                            required="true"
                            autocomplete="off"
                            />
                            <mat-error *ngIf="form.controls.mail.hasError('required')">
                                El Email es <strong>obligatorio</strong>
                            </mat-error>
                            <mat-error *ngIf="form.controls.mail.hasError('email')">
                                El formato del Email es <strong>incorrecto</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="!tokenEnviado" appearance="outline" class="example-full-width">
                            <mat-label>Código de Recuperación</mat-label>
                            <input
                            type="text"
                            matInput
                            formControlName="token"
                            placeholder="Código de Recuperación"
                            required="true"
                            autocomplete="off"
                            />
                            <mat-error *ngIf="recuparar && form.controls.token.value === undefined">
                                El código de recuperación es <strong>obligatorio</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="!tokenEnviado" appearance="outline" class="example-full-width">
                            <mat-label>Contraseña Nueva</mat-label>
                            <input
                            type="password"
                            matInput
                            formControlName="pass"
                            placeholder="Contraseña Nueva"
                            required="true"
                            autocomplete="off"
                            />
                            <mat-error *ngIf="recuparar && form.controls.pass.value === undefined">
                                El código de recuperación es <strong>obligatorio</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="!tokenEnviado" appearance="outline" class="example-full-width">
                            <mat-label>Confirmar Contraseña</mat-label>
                            <input
                            type="password"
                            matInput
                            formControlName="confirmar"
                            placeholder="Código de Recuperación"
                            required="true"
                            autocomplete="off"
                            />
                            <mat-error *ngIf="recuparar && form.controls.confirmar.value === undefined">
                                El código de recuperación es <strong>obligatorio</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-error *ngIf="diferentes && !tokenEnviado">
                        Las contraseñas <strong>no coinciden</strong>
                      </mat-error>
                    
                    <div class="d-flex row justify-content-center">
                        <div class="w-50 d-flex justify-content-center">
                            
                            <button mat-raised-button *ngIf="tokenEnviado" [disabled]="form.controls.mail.value === null" [ngClass]="form.controls.mail.value !== null ? 'button' : 'button-disabled' " (click)="EnviarCodigo()">Enviar código</button>

                            <button mat-raised-button *ngIf="!tokenEnviado" [disabled]="!form.valid" [ngClass]="recuparar ? 'button' : 'button-disabled' " (click)="Recuperar()">Recuperar Contraseña</button>

                            <button mat-raised-button color="light" [disabled]="tokenEnviado" (click)="Volver()">Volver</button>
                        </div>
                    </div>
                </form>
                </mat-card-content>
        </div>
    </mat-card> 


</div>


<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#60c76e" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

