<div class="container d-flex align-items-center h-75">
    <mat-card class="d-flex justify-content-center w-100">
        <div class="row justify-content-center">
            <div class="d-flex row justify-content-center">
                <h1>Sistema de Gestión de Historias Clínicas</h1>
            </div>
            <div class="d-flex row justify-content-center">
                <h3>Recuperación de contraseña</h3>
            </div>
                <mat-card-content>
                <form [formGroup]="form">
                    <div class="row">

                        <app-inputs [label]="'Email'" [placeHolder]="'Email'" [requerido]="true" [type]="'email'" [valor]="form.controls.mail.value" (cambio)="asignarValor(form.controls.mail, $event)" ></app-inputs>

                        <app-inputs *ngIf="!tokenEnviado" [label]="'Código de Recuperación'" [placeHolder]="'Código de Recuperación'" [requerido]="true" [type]="'text'" [valor]="form.controls.token.value" (cambio)="asignarValor(form.controls.token, $event)" ></app-inputs>

                        <app-inputs *ngIf="!tokenEnviado" [label]="'Contraseña Nueva'" [placeHolder]="'Contraseña Nueva'" [requerido]="true" [type]="'password'" [valor]="form.controls.pass.value" (cambio)="asignarValor(form.controls.pass, $event)" ></app-inputs>

                        <app-inputs *ngIf="!tokenEnviado" [label]="'Confirmar Contraseña'" [placeHolder]="'Confirmar Contraseña'" [requerido]="true" [type]="'password'" [valor]="form.controls.confirmar.value" (cambio)="asignarValor(form.controls.confirmar, $event)" ></app-inputs>

                    </div>

                    <mat-error *ngIf="diferentes && !tokenEnviado">
                        Las contraseñas <strong>no coinciden</strong>
                      </mat-error>
                    
                    <div class="d-flex row justify-content-center">
                        <div class="w-50 d-flex justify-content-center">

                            <app-button *ngIf="tokenEnviado" [habilita]="form.controls.mail.value === null" [valido]="form.controls.mail.value !== null" [texto]="'Enviar código'" (clickButton)="EnviarCodigo()"></app-button>

                            <app-button *ngIf="!tokenEnviado" [habilita]="!form.valid" [valido]="recuparar" [texto]="'Recuperar Contraseña'" (clickButton)="Recuperar()"></app-button>

                            <app-stroked [habilita]="!tokenEnviado" [texto]="'Volver'" (clickButton)="Volver()"></app-stroked>

                        </div>
                    </div>
                </form>
                </mat-card-content>
        </div>
    </mat-card> 


</div>


<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#60c76e" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>

