<!-- <div class="container-fluid w-50 body">
    <div class="col align-items-start">
        <div class="mb-5 d-flex justify-content-center">
            <mat-icon>error</mat-icon>
        </div>

        <div class="mb-5 d-flex justify-content-center">
            <h1>Error Fatal en el servidor</h1>
        </div>

        <div class="mb-5 d-flex justify-content-center">
            <h4>Error Fatal en el servidor</h4>
        </div>

        <div class="mb-5 d-flex justify-content-center">
            <p> {{fatal}} </p>
        </div>

        <div class="mb-5">
            <button mat-raised-button class="button">Volver</button>
        </div>

    </div>
</div> -->

<div class="container d-flex w-50 mt-5">
    <div class="row align-items-start">
        <div class="mb-5 p-24">
            <mat-icon class="icon-display">highlight_off</mat-icon>
        </div>

        <div class="mb-5 ">
            <h1>Error Fatal en el servidor</h1>
        </div>

        <div class="mb-5 ">
            <p> {{fatal}} </p>
        </div>

        <div class="mb-5">
            <button mat-raised-button class="button" (click)="Volver()">Volver</button>
        </div>
    </div>
</div>