<div class="container" *ngIf="!alta">
  <mat-card >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Nueva Consulta TTO</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" autocomplete="off" class="example-form">

        <div class="col pad-15-bis">
          <div class="row">
            <h3>Evaluación</h3>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Pacientes</mat-label>
              <mat-select formControlName="paciente" required>

                <input placeholder="Buscar: " class="filtro" matInput #filtro autocomplete="off" [(ngModel)]="filtroPaciente" [ngModelOptions]="{standalone: true}" (ngModelChange)="applyFilterPaciente(false)" (keyup)="$event.stopPropagation; applyFilterPaciente(true)" (keydown)="$event.stopPropagation()">


                <mat-option
                  *ngFor="let paciente of pacientesFilter"
                  [value]="paciente.idPaciente"
                >
                  {{ paciente.nombre }} - {{ paciente.apellido }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls.paciente.hasError('required')"
                >Paciente es <strong>obligatorio</strong></mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Fecha de Consulta</mat-label>
              <input
                matInput
                readonly="true"
                autocomplete="off"
                #dateInput
                required="true"
                (dateChange)="changeDate(dateInput,1)"
                onclick="changeDate(dateInput)"
                [max]="fecha"
                [matDatepicker]="selector"
                [value]="form.controls.fecha.value"
              />
              <mat-datepicker-toggle
                mat-datepicket-toggle
                matSuffix
                [for]="selector"
              ></mat-datepicker-toggle>
              <mat-datepicker #selector></mat-datepicker>
              <mat-error *ngIf="form.controls.fecha.hasError('required')">
                Fecha de Consulta es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Motivo</mat-label>
              <input
                type="text"
                matInput
                formControlName="motivo"
                placeholder="Motivo"
                required="true"
                autocomplete="off"
              />
              <mat-error *ngIf="form.controls.motivo.hasError('required')">
                Motivo es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Triángulo de la talla</mat-label>
              <input
                type="text"
                matInput
                formControlName="triangulo"
                placeholder="Triángulo de la talla"
                autocomplete="off"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Altura de Iliacos</mat-label>
              <input
                type="text"
                matInput
                formControlName="altura"
                placeholder="Altura de Iliacos"
                autocomplete="off"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Barral</mat-label>
              <input
                type="text"
                matInput
                formControlName="barral"
                placeholder="Barral"
                autocomplete="off"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>3 Esferas DD</mat-label>
              <input
                type="text"
                matInput
                formControlName="esferas"
                placeholder="3 Esferas DD"
                autocomplete="off"
              />
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Específico</mat-label>
              <input
                type="text"
                matInput
                formControlName="especifico"
                placeholder="Específico"
                autocomplete="off"
              />
              <mat-error *ngIf="form.controls.barral.hasError('required')">
                Específico es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row bg-section">
            <h3>Tratamiento</h3>
            <mat-form-field appearance="outline" appearance="outline" class="example-full-width">
              <mat-label>Tratamiento</mat-label>
              <textarea
                type="text"
                matInput
                formControlName="sedestacion"
                required="true"
                autocomplete="off"
                rows="5"
              ></textarea>
              <mat-error *ngIf="form.controls.sedestacion.hasError('required')">
                Campo <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" appearance="outline" class="example-full-width">
              <mat-label>Sugerencias</mat-label>
              <textarea
                type="text"
                matInput
                formControlName="sugerencias"
                placeholder="Sugerencias"
                autocomplete="off"
                rows="5"
              ></textarea>
              <mat-error *ngIf="form.controls.sugerencias.hasError('required')">
                Sugerencias es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Próximo Turno</mat-label>
              <input
                matInput
                readonly="true"
                autocomplete="off"
                #dateInputProximo
                required="true"
                (dateChange)="changeDate(dateInputProximo,2)"
                onclick="changeDate(dateInput)"
                [min]="fecha"
                [matDatepicker]="proximo"
                [value]="form.controls.proximoTurno.value"
              />
              <mat-datepicker-toggle
                mat-datepicket-toggle
                matSuffix
                [for]="proximo"
              ></mat-datepicker-toggle>
              <mat-datepicker #proximo></mat-datepicker>
              <mat-error
                *ngIf="form.controls.proximoTurno.hasError('required')"
              >
                Próximo Turno es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button [disabled]="!form.valid" (click)="GuardarConsulta()" [ngClass]="form.valid ? 'button' : 'button-disabled' " mat-button>Guardar</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container" *ngIf="alta">
  <form [formGroup]="form" autocomplete="off" class="example-form">

    <div class="col pad-15-bis">
      <div class="row">
        <h3>Evaluación</h3>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Triángulo de la talla</mat-label>
          <input
            type="text"
            matInput
            formControlName="triangulo"
            placeholder="Triángulo de la talla"
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Altura de Iliacos</mat-label>
          <input
            type="text"
            matInput
            formControlName="altura"
            placeholder="Altura de Iliacos"
            autocomplete="off"
            (change)="SetConsultaAlta()"
            [(ngModel)]="consulta.alturaDeIliacos"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Barral</mat-label>
          <input
            type="text"
            matInput
            formControlName="barral"
            placeholder="Barral"
            autocomplete="off"
            (change)="SetConsultaAlta()"
            [(ngModel)]="consulta.barral"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>3 Esferas DD</mat-label>
          <input
            type="text"
            matInput
            formControlName="esferas"
            placeholder="3 Esferas DD"
            autocomplete="off"
            (change)="SetConsultaAlta()"
            [(ngModel)]="consulta.esferas"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Específico</mat-label>
          <input
            type="text"
            matInput
            formControlName="especifico"
            placeholder="Específico"
            autocomplete="off"
            (change)="SetConsultaAlta()"
            [(ngModel)]="consulta.especifico"
          />
          <mat-error *ngIf="form.controls.especifico.hasError('required')">
            Específico es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row bg-section">
        <h3>Tratamiento</h3>

        <mat-form-field appearance="outline" appearance="outline" class="example-full-width">
          <mat-label>Tratamiento</mat-label>
          <textarea
            type="text"
            matInput
            formControlName="sedestacion"
            required="true"
            autocomplete="off"
            (change)="SetConsultaAlta()"
            [(ngModel)]="consulta.sedestacion"
            rows="5"
          ></textarea>
          <mat-error *ngIf="form.controls.sedestacion.hasError('required')">
            Campo <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" appearance="outline" class="example-full-width">
          <mat-label>Sugerencias</mat-label>
          <textarea
            type="text"
            matInput
            formControlName="sugerencias"
            placeholder="Sugerencias"
            rows="5"
            autocomplete="off"
            (change)="SetConsultaAlta()"
            [(ngModel)]="consulta.sugerencias"
          ></textarea>
          <mat-error *ngIf="form.controls.sugerencias.hasError('required')">
            Sugerencias es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Próximo Turno</mat-label>
          <input
            matInput
            readonly="true"
            autocomplete="off"
            #dateInputProximo
            (dateChange)="changeDate(dateInputProximo,2,true)"
            onclick="changeDate(dateInput)"
            [min]="fecha"
            [matDatepicker]="proximo"
            [value]="form.controls.proximoTurno.value"
          />
          <mat-datepicker-toggle
            mat-datepicket-toggle
            matSuffix
            [for]="proximo"
          ></mat-datepicker-toggle>
          <mat-datepicker #proximo></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#60c76e" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
