.example-form {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  
}
    
.example-full-width {
    width: 48%;
}

.pad-15{
    padding: 15px 15px 0 15px;
 }
  
 .pad-15-bis{
    padding: 0 15px 0 15px;
}

.date-picker-toogle{
    margin-left: 525px;
}

.container{
    margin-top: 20px;
  }

  
.button{
    background-color:rgb(119, 114, 72);
    color: #ffffff;
}

.button-disabled{
    background-color: rgb(225,223,206);
    color: #ffffff;
}

.bg-section{
  background-color: rgb(247, 245, 229);
    border-radius: 15px;
  }
  h3, h5{
    margin: 0;
  }
  
  h3{
    font-weight: 500;
    margin-top: 20px;
  }  

.filtro{
  height: 36px;
  /* padding-left: 15px; */
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}