<div class="container">
    <div class="card">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Nuevo Paciente</mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <mat-tab-group class="color" dynamicHeight>
                    <mat-tab label="Datos Personales">
                      <div class="example-small-box mat-elevation-z4">
                        <app-datos-personales></app-datos-personales>
                      </div>
                    </mat-tab>
                    <mat-tab label="1° Consulta">
                      <div class="example-large-box mat-elevation-z4">
                          <app-consulta-inicial></app-consulta-inicial>
                      </div>
                    </mat-tab>
                    <mat-tab label="Antecedentes">
                        <div class="example-large-box mat-elevation-z4">
                          <app-antecedentes [antecedente]="GetAntecedente()"></app-antecedentes>
                        </div>
                      </mat-tab>
                      <mat-tab label="1° Consulta TTO">
                        <div class="example-large-box mat-elevation-z4">
                        <app-nueva-consulta [alta]="true"></app-nueva-consulta>
                      </div>
                      </mat-tab>
                      <!-- <mat-tab label="Estudios Médicos">
                        <div class="example-large-box mat-elevation-z4">
                          <app-estudios-medicos></app-estudios-medicos>
                        </div>
                      </mat-tab> -->
                  </mat-tab-group>
              </mat-card-content>

              <mat-card-actions align="end">
                <button [disabled]="!FormValid()" (click)="GuardarPaciente()" [ngClass]="FormValid() ? 'button' : 'button-disabled' " mat-button>Guardar</button>
              </mat-card-actions>
        </mat-card>
    </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#60c76e" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>