
    <mat-dialog-content>
        <div class="row">
            <h1> Nombre de Archivo: {{element.nombreArchivo}} </h1>
        </div>
        <div class="row">
            <h3>Paciente: {{paciente.nombre}} {{paciente.apellido}}</h3>
        </div>
        <div class="row">
            <img [hidden]="element.tipo.includes('pdf')" class="foto" src="data:image/png;base64,{{element.estudio}}" alt="Sin Foto" />
            <app-pdf [hidden]="!element.tipo.includes('pdf')" [ruta]="element.estudio" ></app-pdf>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="row">
            <app-button [texto]="'Cerrar'" [mat-dialog-close]="false"></app-button>
        </div>
    </mat-dialog-actions>

