
    <mat-dialog-content>
        <div class="row">
            <h1> Nombre de Archivo: {{element.nombreArchivo}} </h1>
        </div>
        <div class="row">
            <h3>Paciente: {{element.paciente.nombre}} {{element.paciente.apellido}}</h3>
        </div>
        <div class="row height-img">
            <img class="foto" src="data:image/png;base64,{{element.estudio}}" alt="Sin Foto" />
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="row">
            <app-button [texto]="'Cerrar'" [mat-dialog-close]="false"></app-button>
        </div>
    </mat-dialog-actions>

