.example-form {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
  
.date-picker-toogle{
  margin-left: 525px;
}

.pad-15{
  padding: 15px 15px 0 15px;
}

.mb-20{
  margin-bottom: 20px;
}
.mb-38{
  margin-bottom: 34px;
}
.mt-p4{
  margin-bottom: 4px;
}
.w-10{
  width: 10%;
}
.w-40{
  width: 40%;
}
.h-63{
  height: 63px;
}