<mat-card>
  <form [formGroup]="form" autocomplete="off" class="example-form">
    <div class="col pad-15">
      <div class="row">
        <div class="col-6">
          <div class="w-100">
            <app-inputs
              [tabindex]="1"
              [label]="'Motivo'"
              [type]="'text'"
              [placeHolder]="'Motivo de la consulta'"
              [requerido]="true"
              [readOnly]="edicion"
              (cambio)="CargarConsultaInicial($event, 9)"
            ></app-inputs>
          </div>
          <div class="w-100">
            <app-inputs
              [tabindex]="3"
              [label]="'Antigüedad'"
              [type]="'text'"
              [placeHolder]="'Antigüedad'"
              [requerido]="true"
              [readOnly]="edicion"
              (cambio)="CargarConsultaInicial($event, 2)"
            ></app-inputs>
          </div>
          <div class="w-100">
            <app-inputs
              [tabindex]="5"
              [label]="'Intensidad'"
              [type]="'text'"
              [placeHolder]="'Intensidad'"
              [requerido]="false"
              [readOnly]="edicion"
              (cambio)="CargarConsultaInicial($event, 6)"
            ></app-inputs>
          </div>
          <div class="w-100">
            <app-inputs
              [tabindex]="7"
              [label]="'Irradiacion'"
              [type]="'text'"
              [placeHolder]="'Irradiacion'"
              [requerido]="false"
              [readOnly]="edicion"
              (cambio)="CargarConsultaInicial($event, 7)"
            ></app-inputs>
          </div>
          <div class="w-100 ">
            <app-inputs
              [tabindex]="9"
              [label]="'Actividad Física'"
              [type]="'text'"
              [placeHolder]="'Actividad Física'"
              [requerido]="false"
              [readOnly]="edicion"
              (cambio)="CargarConsultaInicial($event, 1)"
            ></app-inputs>
          </div>
          <div class="w-100">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Fecha Covid</mat-label>
              <input
                [tabindex]="11"
                matInput
                readonly="true"
                autocomplete="off"
                #dateInputCovid
                (dateChange)="changeDate(dateInputCovid, 2)"
                onclick="changeDate(dateInputCovid)"
                [max]="fecha"
                [matDatepicker]="selectorCovid"
                [value]="form.controls.fechaCovid.value"
              />
              <mat-datepicker-toggle
                [disabled]="edicion || !form.controls.covid.value"
                mat-datepicket-toggle
                matSuffix
                [for]="selectorCovid"
              ></mat-datepicker-toggle>
              <mat-datepicker #selectorCovid></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-6">
          <div class="w-100">
            <mat-form-field [tabindex]="2" appearance="outline" class="w-100">
              <mat-label>Fecha de Consulta</mat-label>
              <input
                required="true"
                matInput
                readonly="true"
                autocomplete="off"
                #dateInput
                (dateChange)="changeDate(dateInput, 1)"
                onclick="changeDate(dateInput)"
                [max]="fecha"
                [matDatepicker]="selector"
                [value]="form.controls.fecha.value"
              />
              <mat-datepicker-toggle
                [disabled]="edicion"
                mat-datepicket-toggle
                matSuffix
                [for]="selector"
              ></mat-datepicker-toggle>
              <mat-datepicker #selector></mat-datepicker>

              <mat-error *ngIf="form.controls.fecha.hasError('required')">
                Fecha es <strong>obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="w-100">
            <app-inputs
              [tabindex]="4"
              [label]="'Localización'"
              [type]="'text'"
              [placeHolder]="'Localización'"
              [requerido]="true"
              [readOnly]="edicion"
              (cambio)="CargarConsultaInicial($event, 8)"
            ></app-inputs>
          </div>
          <div class="w-100">
            <app-inputs
              [tabindex]="6"
              [label]="'Característica'"
              [type]="'text'"
              [placeHolder]="'Característica'"
              [requerido]="false"
              [readOnly]="edicion"
              (cambio)="CargarConsultaInicial($event, 5)"
            ></app-inputs>
          </div>
          <div class="w-100">
            <app-inputs
              [tabindex]="8"
              [label]="'Atenúa'"
              [type]="'text'"
              [placeHolder]="'Atenúa'"
              [requerido]="false"
              [readOnly]="edicion"
              (cambio)="CargarConsultaInicial($event, 4)"
            ></app-inputs>
          </div>
          <div class="w-100 mb-38">
            <mat-checkbox
              [tabindex]="10"
              [disabled]="edicion"
              class="mt-20"
              color="primary"
              (change)="CargarConsultaInicial($event, 10)"
              formControlName="covid"
              >Covid</mat-checkbox
            >
          </div>
          <div class="w-100">
            <app-inputs
              [tabindex]="12"
              [label]="'Otros'"
              [type]="'text'"
              [placeHolder]="'Otros'"
              [requerido]="false"
              [readOnly]="edicion || !form.controls.covid.value"
              (cambio)="CargarConsultaInicial($event, 12)"
            ></app-inputs>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-card>
