<div class="w-100">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Usuarios</mat-card-title>
    </mat-card-header>

    <div class="d-flex row w-100 justify-content-start mb-4 mt-4">

      <app-button class="ml-4 w-12" [texto]="'Eliminar'" [icono]="false" [textoIcono]="'delete'" (clickButton)="EliminarUsuario()" ></app-button>

  </div>

    <app-table-select *ngIf="usuarios.length > 0" [columns]="displayedColumns" [data]="usuarios" (onEmitSelection)="seleccionado = $event"></app-table-select>
    
  </mat-card>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="rgb(119, 114, 72)"
  type="ball-atom"
  [fullScreen]="true"
  ><p style="color: white">Cargando...</p></ngx-spinner
>
