table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

th.mat-header-cell {
  text-align: center;
}

.mat-header-cell {
  text-align: center !important;
  font-size: 16px;
}


td {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}


h3 {
  font-size: 20px;
  font-weight: 500;
}