<mat-card>
<form [formGroup]="form" autocomplete="off" class="example-form">
  <div class="col pad-15">

    <!-- Cirugias -->
    <div class="row bg-section">
      <h3>Cirugías</h3>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Cirugías</mat-label>
        <input
          type="text"
          matInput
          formControlName="cirugias"
          placeholder="Año, localización"
          (change)="CargarAntecedentes()"
          autocomplete="off"
          [(ngModel)]="antecedentes.cirugias"
          [readonly]="edicion"
        />
      </mat-form-field>
    </div>

    <!-- Odontologia -->
    <div class="row">
      <h3 class="mt-20">Odontología</h3>
        <h5>Implantes</h5>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Implantes Superiores</mat-label>
            <input
              type="text"
              matInput
              formControlName="implanteSuperior"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.implanteSuperior"
              [readonly]="edicion"
              placeholder="Implantes Superiores"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Implantes Inferiores</mat-label>
            <input
              type="text"
              matInput
              formControlName="implanteInferior"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.implanteInferior"
              [readonly]="edicion"
              placeholder="Implantes Inferiores"
            />
          </mat-form-field>

        <h5>Ortodoncia</h5>
        <div class="example-full-width">

            <mat-checkbox [disabled]="edicion" [(ngModel)]="antecedentes.contencion" class="mt-20 mr-60" color="primary" (change)="CargarAntecedentes()" formControlName="contencion">Placa de Contención</mat-checkbox>

            <mat-checkbox [disabled]="edicion" [(ngModel)]="antecedentes.ortodoncia" class="mt-20 mr-60" color="primary" (change)="CargarAntecedentes()" formControlName="ortodoncia">Ortodoncia</mat-checkbox>

            <mat-form-field appearance="outline" class="example-full-width w-30">
              <mat-label>Edad Ortodoncia</mat-label>
              <input
                type="text"
                matInput
                formControlName="EdadOrtodoncia"
                placeholder="Edad Ortodoncia"
                (change)="CargarAntecedentes()"
                autocomplete="off"
                [(ngModel)]="antecedentes.edadOrtodoncia === undefined || antecedentes.edadOrtodoncia === null? '': antecedentes.edadOrtodoncia"
                [disabled]="!antecedentes.ortodoncia"
                [readonly]="edicion || !antecedentes.ortodoncia"
                [min]="0"
                [max]="100"
                />
              <mat-error *ngIf="form.controls.EdadOrtodoncia.hasError('min')">
                  La Edad debe ser <strong>mayor a cero</strong>
              </mat-error>
              <mat-error *ngIf="form.controls.EdadOrtodoncia.hasError('max')">
                La Edad debe ser <strong>menor a 100</strong>
            </mat-error>
            </mat-form-field>
        </div>
            
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Prótesis</mat-label>
          <input
            type="text"
            matInput
            formControlName="protesis"
            placeholder="Prótesis"
            (change)="CargarAntecedentes()"
            autocomplete="off"
            [(ngModel)]="antecedentes.protesis"
            [readonly]="edicion"
          />
        </mat-form-field>

        <h5>Piezas</h5>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Piezas Faltantes</mat-label>
            <input
              type="text"
              matInput
              formControlName="piezasfaltantes"
              placeholder="Piezas Faltantes"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.piezasFaltantes"
              [readonly]="edicion"
            />
        </mat-form-field>

          <div class="example-full-width">
            <mat-checkbox [disabled]="edicion" class="mt-20" [(ngModel)]="antecedentes.placaDescanso" color="primary" (change)="CargarAntecedentes()" formControlName="placaDescanso">Placa de Descanso</mat-checkbox>
        </div>
  </div>

    <!-- Salud Femenina -->
    <div class="row bg-section">
        <h3 class="mt-20">Salud Femenina</h3>
        <div class="example-full-width">
            <mat-checkbox [disabled]="edicion" [(ngModel)]="antecedentes.menstruacion" class="mt-20" color="primary" (change)="CargarAntecedentes()" formControlName="menstruacion">Menstruación</mat-checkbox>
        </div>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Frecuencia</mat-label>
            <input
              type="text"
              matInput
              formControlName="frecuencia"
              placeholder="Frecuencia"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.frecuencia"
              [disabled]="!antecedentes.menstruacion"
              [readonly]="edicion"
            />

          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Duración</mat-label>
            <input
              type="text"
              matInput
              formControlName="duracion"
              placeholder="Duración"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.duracion"
              [disabled]="!antecedentes.menstruacion"
              [readonly]="edicion"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Volumen</mat-label>
            <input
              type="text"
              matInput
              formControlName="volumen"
              placeholder="Volumen"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.volumen"
              [disabled]="!antecedentes.menstruacion"
              [readonly]="edicion"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Pérdidas</mat-label>
            <input
              type="text"
              matInput
              formControlName="perdidas"
              placeholder="Pérdidas"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.perdidas"
              [readonly]="edicion"
            />
          </mat-form-field>

          <div class="example-full-width">
            <mat-checkbox [disabled]="edicion" [(ngModel)]="antecedentes.embarazos" class="mt-20" color="primary" (change)="CargarAntecedentes()" formControlName="embarazos">Embarazos</mat-checkbox>
        </div>

        <mat-form-field appearance="outline" class="example-full-width w-24">
          <mat-label>Abortos Inducidos</mat-label>
          <input
            type="text"
            matInput
            formControlName="abortoInducido"
            placeholder="Abortos Inducidos"
            (change)="CargarAntecedentes()"
            autocomplete="off"
            [(ngModel)]="antecedentes.abortosInducido"
            [readonly]="edicion"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width w-24">
          <mat-label>Abortos Espontáneos</mat-label>
          <input
            type="text"
            matInput
            formControlName="abortoEspontaneo"
            placeholder="Abortos Espontáneos"
            (change)="CargarAntecedentes()"
            autocomplete="off"
            [(ngModel)]="antecedentes.abortosEspontaneo"
            [readonly]="edicion"
          />
        </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Partos</mat-label>
            <input
              type="text"
              matInput
              formControlName="partos"
              placeholder="Partos"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.partos"
              [readonly]="edicion"
            />
          </mat-form-field>
    </div>

    <!-- Sistemas -->
    <div class="row">
        <h3 class="mt-20">Sistemas</h3>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Intestinal</mat-label>
            <input
              type="text"
              matInput
              formControlName="intestinal"
              placeholder="Intestinal"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.intestinal"
              [readonly]="edicion"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Digestivo</mat-label>
            <input
              type="text"
              matInput
              formControlName="digestivo"
              placeholder="Digestivo"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.digestivo"
              [readonly]="edicion"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Cardíaco</mat-label>
            <input
              type="text"
              matInput
              formControlName="cardiaco"
              placeholder="Cardíaco"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.cardiaco"
              [readonly]="edicion"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Urogenital</mat-label>
            <input
              type="text"
              matInput
              formControlName="urogenital"
              placeholder="Urogenital"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.urogenital"
              [readonly]="edicion"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Respiratorio</mat-label>
            <input
              type="text"
              matInput
              formControlName="respiratorio"
              placeholder="Respiratorio"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.respiratorio"
              [readonly]="edicion"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Óseo</mat-label>
            <input
              type="text"
              matInput
              formControlName="oseo"
              placeholder="Óseo"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.oseo"
              [readonly]="edicion"
            />

          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Fuma</mat-label>
            <mat-select formControlName="fuma" (selectionChange)="CargarAntecedentes()" [disabled]="edicion" [(ngModel)]="antecedentes.fuma">
              <mat-option
              *ngFor="let fumas of fumador"
              [value]="fumas"
              >
              {{ fumas }}
            </mat-option>
          </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Otras drogas</mat-label>
            <input
              type="text"
              matInput
              formControlName="otrasDrogas"
              placeholder="Otras drogas"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.otrasDrogas"
              [readonly]="edicion"
            />

          </mat-form-field>


    </div>

    <!-- Otros -->
    <div class="row bg-section">
        <h3 class="mt-20">Otros</h3>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Accidentes</mat-label>
            <input
              type="text"
              matInput
              formControlName="accidentes"
              placeholder="Accidentes"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.accidentes"
              [readonly]="edicion"
            />
        </mat-form-field>

          <div class="example-full-width">
            <mat-checkbox [disabled]="edicion" [(ngModel)]="antecedentes.diabetes" class="mt-20" color="primary" (change)="CargarAntecedentes()" formControlName="diabetes">Diabetes</mat-checkbox>
        </div>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Medicación</mat-label>
            <input
              type="text"
              matInput
              formControlName="medicacion"
              placeholder="Medicación"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.medicacion"
              [readonly]="edicion"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Fracturas</mat-label>
            <input
              type="text"
              matInput
              formControlName="fracturas"
              placeholder="Fracturas"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.fracturas"
              [readonly]="edicion"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Dolores de Cabeza</mat-label>
            <input
              type="text"
              matInput
              formControlName="dolorCabeza"
              placeholder="Dolores de Cabeza"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.dolorCabeza"
              [readonly]="edicion"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Tiroides</mat-label>
            <mat-select formControlName="tiroides" (selectionChange)="CargarAntecedentes()" [(ngModel)]="antecedentes.tiroides" [disabled]="edicion">
              <mat-option
              *ngFor="let tiro of tiroides"
              [value]="tiro"
              >
              {{ tiro }}
            </mat-option>
          </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Otros</mat-label>
            <input
              type="text"
              matInput
              formControlName="otros"
              placeholder="Otros"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.otros"
              [readonly]="edicion"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Alimentación</mat-label>
            <input
              type="text"
              matInput
              formControlName="alimentacion"
              placeholder="Alimentación"
              (change)="CargarAntecedentes()"
              autocomplete="off"
              [(ngModel)]="antecedentes.alimentacion"
              [readonly]="edicion"
            />
          </mat-form-field>

    </div>

  </div>
</form>
</mat-card>