table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.w-95{
  width: 95%;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.foto {
  width: 200px;
}

th.mat-header-cell {
  text-align: center;
}

td {
  text-align: center;
}

.left {
  justify-content: start;
  margin-bottom: 20px;
  display: flex;
}

.right {
  justify-content: end;
  margin-bottom: 20px;
  display: flex;
}

.mt-20 {
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

.mt-20 {
  margin-top: 20px;
}

.mat-header-cell {
  text-align: center !important;
  font-size: 16px;
}

@media only screen and (min-width: 1310px) and (max-width: 1402px) {
  .foto {
    width: 130px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1310px) {
  .foto {
    width: 100px;
  }
}

@media only screen and (min-width: 1210px) and (max-width: 1280px) {
  .foto {
    width: 50px;
  }
}
  @media only screen and (max-width: 1210px) {
    .foto {
      display: none;
    }
}