<div [hidden]="!pacientesVer" class="w-100">
  <mat-card class="mb-5">
    <mat-card-header>
      <mat-card-title>Pacientes</mat-card-title>
    </mat-card-header>

    <div class="d-flex row w-100 justify-content-start mb-2 mt-2">

      <div class="col-3 mt-2">
        <app-button
          [texto]="textButtonDatos"
          (clickButton)="VerDatos()"
        ></app-button>
      </div>
      <div class="col-3 mt-2">
        <app-button
          [texto]="textButtonPrimeraConsulta"
          (clickButton)="VerConsultas()"
        ></app-button>
      </div>
      <div class="col-3 mt-2">
        <app-button
          [texto]="textButtonAntecedente"
          (clickButton)="VerAntecedentes()"
        ></app-button>
      </div>
      <div class="col-3 mt-2">
        <app-button
          [texto]="textButtonTTO"
          (clickButton)="verTurnos()"
        ></app-button>
      </div>
      <div class="col-3 mt-2">
        <app-button
          [texto]="'Estudios'"
          (clickButton)="Estudios()"
        ></app-button>
      </div>
      <div class="col-3 mt-2">
        <app-button
          [texto]="textButtonConsulta"
          [icono]="iconoAgregar"
          [textoIcono]="iconAdd"
          (clickButton)="NuevaConsulta()"
        ></app-button>
      </div>
      <div class="col-3 mt-2">
        <app-button
          [texto]="textButtonEstudio"
          [icono]="iconoAgregar"
          [textoIcono]="iconAdd"
          (clickButton)="NuevoEstudio()"
        ></app-button>
      </div>
      <div class="col-3 mt-2">
        <app-button
          [habilita]="noHabilitaEliminar"
          [texto]="' '"
          [icono]="false"
          [textoIcono]="'delete'"
          (clickButton)="EliminarPaciente()"
        ></app-button>
      </div>
    </div>

    <app-table-select
      *ngIf="pacientes.length > 0"
      [filtrado]="filtro"
      [data]="pacientes"
      [columns]="displayedColumns"
      [titulos]="titulosTabla"
      (onEmitSelection)="itemSeleccionado = $event"
      (onFilter)="resetFilter($event)"
    ></app-table-select>

  </mat-card>
</div>

<div [hidden]="!datos" class="w-100">
  <mat-card>
    <h2>
      Datos Personales
      <app-mini-fab
        [textoTooltip]="'Presione para editar el formulario'"
        [posicionTooltip]="'right'"
        [clase]="'button'"
        [icon]="'edit'"
        (click)="HabilitarEdicion()"
      ></app-mini-fab>
    </h2>
    <app-datos-personales
      [habilita]="!edicion"
      [paciente]="pacienteEditar"
      *ngIf="datos"
      #datos
    ></app-datos-personales>
  </mat-card>
  <div class="row">
    <div class="left w-50 mt-20">
      <app-button [texto]="'Volver'" (clickButton)="Volver()"></app-button>
    </div>
    <div class="right w-50 mt-20">
      <app-button
        [habilita]="!edicion"
        [valido]="edicion"
        [texto]="'Guardar'"
        (clickButton)="ActualizarDatos()"
      ></app-button>
    </div>
  </div>
</div>

<div [hidden]="!antecedentes" class="w-100">
  <h2>
    Antecedentes de {{ nombrePaciente }} {{ apellidoPaciente }}
    <app-mini-fab
      [textoTooltip]="'Presione para editar el formulario'"
      [posicionTooltip]="'right'"
      [clase]="'button'"
      [icon]="'edit'"
      (click)="HabilitarEdicion()"
    ></app-mini-fab>
  </h2>
  <app-antecedentes
    *ngIf="antecedentes"
    [edicion]="!edicion"
    [antecedente]="antecedente"
    [hayAntecedente]="true"
  ></app-antecedentes>

  <div class="row">
    <div class="left w-50 mt-20">
      <app-button [texto]="'Volver'" (clickButton)="Volver()"></app-button>
    </div>
    <div class="right w-50 mt-20">
      <app-button
        [habilita]="!edicion"
        [valido]="edicion"
        [texto]="'Guardar'"
        (clickButton)="ActualizarAntecedente()"
      ></app-button>
    </div>
  </div>
</div>

<div [hidden]="!consultaInicial" class="w-100">
  <h2>
    Consulta Inicial de {{ nombrePaciente }} {{ apellidoPaciente }}
    <app-mini-fab
      [textoTooltip]="'Presione para editar el formulario'"
      [posicionTooltip]="'right'"
      [clase]="'button'"
      [icon]="'edit'"
      (click)="HabilitarEdicion()"
    ></app-mini-fab>
  </h2>
  <app-consulta-inicial
    *ngIf="consultaInicial"
    [edicion]="!edicion"
    [consulta]="consultas"
    [hayConsulta]="true"
  ></app-consulta-inicial>

  <div class="row">
    <div class="left w-50 mt-20">
      <app-button [texto]="'Volver'" (clickButton)="Volver()"></app-button>
    </div>
    <div class="right w-50 mt-20">
      <app-button
        [habilita]="!edicion"
        [valido]="edicion"
        [texto]="'Guardar'"
        (clickButton)="ActualizarConsulta()"
      ></app-button>
    </div>
  </div>
</div>

<div [hidden]="!turnos" class="w-100">
  <app-listar-consultas
    (ocultarTratamientos)="
      turnos = !turnos; consultaNueva = !consultaNueva; idPaciente = $event
    "
    *ngIf="turnos"
  ></app-listar-consultas>

  <div class="left mt-20">
    <app-button [texto]="'Volver'" (clickButton)="Volver()"></app-button>
  </div>
</div>

<div [hidden]="!consultaNueva" class="w-100">
  <app-nueva-consulta
    *ngIf="consultaNueva"
    [paciente]="idPaciente"
  ></app-nueva-consulta>

  <div class="left mt-20">
    <app-button
      [texto]="'Volver'"
      (clickButton)="VolverDeConsultaNueva()"
    ></app-button>
  </div>
</div>

<div [hidden]="!estudios" class="w-100">
  <app-listar *ngIf="estudios"></app-listar>
  <div class="left mt-20">
    <app-button [texto]="'Volver'" (clickButton)="Volver()"></app-button>
  </div>
</div>

<div [hidden]="!estudiosNuevos" class="w-100">
  <app-estudios *ngIf="estudiosNuevos"></app-estudios>
  <div class="left mt-20">
    <app-button [texto]="'Volver'" (clickButton)="Volver()"></app-button>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="rgb(119, 114, 72)"
  type="ball-atom"
  [fullScreen]="true"
  ><p style="color: white">Cargando...</p></ngx-spinner
>
