
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

app-button{
  padding: 0;
}

.w-12{
  width: 12%;
}

.w-5{
  width: 2%;
}

.mr-2{
  margin-right: 1.5rem;
}
.w-95{
  width: 95%;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.left {
  justify-content: flex-start;
  margin-bottom: 20px;
  display: flex;
}

.right {
  justify-content: flex-end;
  margin-bottom: 20px;
  display: flex;
}

.mt-20 {
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

.mt-20 {
  margin-top: 20px;
}

@media only screen and (min-width:0px) and (max-width: 1047px) {
  .mr-2 {
    margin-right: 0rem;
    margin-left: .5rem;
  }
  /* .w-12{
    width: 13%;
  } */
  .justify-content-center{
    justify-content: flex-start!important;
  }
}
